{% extends "base.html" %}
{% block title %} About Page {% endblock %}
{% block content %}
<h1>👋 About Us</h1>
<p> Your Gateway to Unforgettable Hospitality! I am passionate about crafting a seamless platform that connects you with a curated selection of exquisite hotels, ensuring that each stay becomes a cherished memory. Whether you're a business traveler, a leisure explorer, or someone seeking a luxurious escape, Vatan is designed with you in mind.</p>

<h2>Our Mission</h2>
we believe that every journey should be accompanied by exceptional experiences, and your stay is at the heart of what we do. As the creators of this app, we are dedicated to redefining the way you travel, ensuring comfort, convenience, and unmatched hospitality.

</h2>Explore Our Features<h2>
<h3>1. Explore</h3>
<p>Dive into our extensive catalog of handpicked hotels from around the world. Discover unique destinations and find the perfect accommodation for your travel style. </p>

<h3>2. Connect</h3>
<p>Connect with like-minded individuals and build a community around your interests. Vatan App allows you to describe how users can interact and engage with each other.</p>
{% endblock %}