{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% block content %}
<h1>💻 Explore Vatan's App</h1>
<br>
<h2>Welcome to the heart of your travel experience. Our home page is your gateway to a world of possibilities</h2>
<h3>1. Curated Collections</h3>
<p>  Explore themed collections of hotels, tailored to different travel styles and preferences.</p>

<h3>2. Featured Destinations</h3>
<p>Get inspired by our spotlight destinations, showcasing the best of what LuxStay has to offer.</p>

<h3>3. Latest Offers</h3>
<p>Stay up-to-date with the latest promotions, discounts, and exclusive deals from our partner hotels.</p>

<h3>4. User-Friendly Search</h3>
<p>Easily navigate through our user-friendly search feature to find the perfect accommodation that suits your needs.</p>

<h3>5. Personalized Recommendations</h3>
<p>Receive personalized recommendations based on your preferences and past bookings.</p>

<h2>Why Choose Vatan App? </h2>
<ul>
    <li>Innovation: Embrace the latest features and technologies designed to enhance your online experience.</li>
    <li>Continuous Improvement: We are committed to evolving and adding new features based on user feedback.</li>
</ul>
<p>Ready to experience the future of Vatan App? Sign Up now and unlock a world of possibilities!</p>
{% endblock %}